body{
    background-color: #e5e5e5;
}

.nav-extended {
  
    background: url("imagens/capa1.png");
}

nav ul li.active, .tab a.active{
    border-bottom: solid 2px #ffffff;
    background-color: transparent;
}

.nav-header h1{
    text-shadow: 2px 2px 15px #000000;
}